# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
.turbo/
.next/
coverage/

# Env
.env
apps/**/.env

# Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Docker local artifacts
**/.dockerignore

